<div class="form-component">
    <h1>Update Device</h1>
    <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput  name="description"  [ngModel]="data.description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput type="text" name="address" [ngModel]="data.address">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Max Hour Consumption</mat-label>
            <input matInput type="number" name="maxHourConsumtion" [ngModel]="data.maxHourConsumtion">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Client Id</mat-label>
            <input matInput type="number" name="userId" [ngModel]="data.userId">
        </mat-form-field>
        <button mat-button type="submit" color="primary">Update</button>
    </form> 
    <div *ngIf="showMessage">
        <h2 class="errorDisplay">Unknown clientId</h2>
    </div>
</div>
