<div class="form-component">
    <h1> Update user</h1>
    <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" [ngModel]="data.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [ngModel]="data.password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" name="email" [ngModel]="data.email">
        </mat-form-field>
        <button mat-button type="submit" color="primary">Update</button>
    </form> 
</div>
