<app-navbar></app-navbar>
<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ngModel></mat-datepicker>
</mat-form-field>
<button mat-raised-button color="primary" (click)="displayChart()">Show Chart</button>
<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>
